:root{
  --gray: #d3d6da;
  --light-gray: #d3d6da;
  --dark-gray:#787c7e;
  --dark-gray2: #878a8c;
  --yellow : #c9b458;
  --green:#6aaa64
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
table{
  border-spacing: 4px;
}
td.cell {
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-collapse: collapse;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.cell[status="active"]{
  border-color: var(--dark-gray2);
  animation: jump .3s ease-in-out;
}

.cell[status="empty"]{
  border-color: var(--light-gray);
}

.cell[status="correct"]{
  animation: flip 1.3s ease-out forwards, correct-style 1.3s ease-out forwards;
}
.cell[status="clue"]{
  animation: flip 1.3s ease-out forwards, clue-style 1.3s ease-out forwards;
}
.cell[status="wrong"]{
  animation: flip 1.3s ease-out forwards, wrong-style 1.3s ease-out forwards;
}

.keyboard{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.keyboard > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.key{
  padding: 17px 16px;
  border-radius: 5px;
  border: none;
  background-color: var(--gray);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.key[status="correct"]{
  background-color: var(--green);
}
.key[status="clue"]{
  background-color: var(--yellow);
}
.key[status="wrong"]{
  background-color: var(--dark-gray);
}

@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
  
}
@keyframes flip {
  50% {
    transform: rotate3d( 1, 0, 0, 90deg);
    color: #000;
  }
  51% {
    color: #fff

  }
  100% {
    transform: rotate3d( 1, 0, 0, 0);
    color: #fff

  }
}

@keyframes correct-style{
  0%{}
  50%{
    border-color: var(--dark-gray2);
    background-color: #fff;
  }
  100%{
    border-color: var(--green);
    background-color: var(--green);
  }
}
@keyframes clue-style{
  0%{}
  50%{
    border-color: var(--dark-gray2);
    background-color: #fff;
  }
  100%{
    border-color: var(--yellow);
    background-color: var(--yellow);
  }
}
@keyframes wrong-style{
  0%{}
  50%{
    border-color: var(--dark-gray2);
    background-color: #fff;
  }
  100%{
    border-color: var(--dark-gray);
    background-color: var(--dark-gray);
  }
}